version: '3.8'
services:
  db:
    image: mysql:8.3.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
      MYSQL_DATABASE: {{ mysql_db }}
      MYSQL_USER: {{ mysql_user }}
      MYSQL_PASSWORD: {{ mysql_password }}
    user: "{{ server_data_dir_user_id }}"
    ports:
      - '3306:3306'
    volumes:
      - {{ mysql_config_path }}/var-lib-mysql:/var/lib/mysql

  backend:
    image: ghcr.io/catchsudheera/brs-backend:v1.2
    container_name: backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_PASSWORD: {{ mysql_password }}
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/brs
      HOST_URL: {{ backend_host_url }}
      API_KEY: {{ backend_api_key }}
    ports:
      - "8080:8080"

  frontend:
    image: ghcr.io/catchsudheera/brs-frontend:v1.2
    container_name: frontend
    restart: unless-stopped
    environment:
      BACKEND_URL: {{ backend_host_url }}
    ports:
      - "3000:3000"